*{margin:0; padding:0}
a{display: inline; text-decoration: none;}

body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
  
h1,h2,h3,h4,h5,p{color: black; padding-bottom: 30px;}

.big-text{font-size: 70px; font-weight: 900;}
.med-text{font-size: 40px;}
.normal-text{font-size: 20px;}
.small-text{font-size: 14px;}


.intro-text{font-size: 20px; text-transform: uppercase; font-weight: bold;}



img{
    max-width: 100%;
    margin-top: 10px;
    height: auto;
}


html{
    background-image: url(MossyStoneBricks.png);
    background-repeat: repeat;
    background-size: auto;
    background-position: center;
    background-attachment: fixed;
    align-items: center;
    z-index: 0;
}

.header{
    position: fixed;
    height: 20vh;
    border: 1px solid red;
    top:0;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    padding-left: 2%;
    padding-right: 2%;
    justify-content: space-between;
    background-image: url(SfondoHeader.jpg);
    background-size:contain;
    background-repeat:repeat;
    z-index: 100;
}

.logo{
    width: 30%;
    height: auto;   
    align-self: center;
    align-items: center;
    border: 1px solid red;
}


.logo a{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.logo a img{
    display: block;
    height: auto;
}


.menu{
    padding-left: auto;
    padding-right: auto;
    display: flex;
    width: 35%;
    height:auto;
    align-self: center;
    border: 1px solid red;
    text-align: center;
    /* align-content */
}

.sizeimg{ width: auto; height: auto;}
.menu li {display: inline; margin-right: 5%; margin-left: 5%;}
.menu li img{max-width: 70%; height: auto;}



.cta{
    padding: 18px 28px;
    /* padding-left: 50px; */
    background: #049101;
    border: 1px solid red;
    border-radius: 10px;
    align-self: center;
    display: inline-block;
}

.cta a{
    color:white;
}

.pulsanteBuy{
    padding: 18px 28px;
    margin-top: 20px;
    background-image: url(Coal.png);
    background-size: contain;
    background-repeat: repeat;
    border: 1px solid red;
    align-self: center;
    display: inline-block;
}

.pulsanteBuy a{color: goldenrod;}

.pulsanteBuy:hover{
    background-image: url(Diamond.png); 
    transition-duration: 0.5s; 
    border: 5px solid blue;
}
.pulsanteBuy:hover a{color: red;}




/* .cta a:before{
    content: "";
    width: 30px;
    height: 30px;
    display: block;
    background: url(download.png) no-repeat center center;
} */




@media (max-width: 768px) {
    .header{
        height:35vh;
    }
    .logo{
        width: 100%;
        margin-top: 30px;
        margin-bottom: 0;
    }

    .menu{
        width: 100%
    }
    .menu li img{max-width: 50%; height: auto;}

    .cta{
        width: 50%;
        text-align: center;
        margin:0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
    }

    footer{
        width: 100%;
    }
}

.hero{
    height: 80vh;
    margin-top: 20vh;
    width: 80%;
    left: 10%;
    right: 10%;
    position: relative;
    display: flex; align-items: center;
    border: 1px solid green;
    z-index: 3;
    background: linear-gradient(90deg, rgba(2,129,162,0.3393732492997199) 0%, rgba(33,132,250,0.8) 26%, rgba(2,129,162,0.33657212885154064) 79%),url(Sfondo.jpeg);
    /* background-image: ; */
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__content{
    /* border: 1px solid red; */
    width:35%;
    position:absolute;
    top:10%;
    left: 15%;
    z-index: 2;
    border: 1px solid red;
}


@media (max-width: 768px) {
    .hero{
        height: 65vh;
        margin-top: 35vh;
    }
    .hero__content{
        width: 90%;
        left: 5%;
        text-align: center;
    }
    .big-text{
        font-size: 40px;
    }
    .intro-text{
        font-size: 15px;
    }
}


#video-back{
    position:absolute;
    top:0;
    left:0;
    border: 1px solid yellow;
    width: 100%;

    z-index: 1;
}




footer{
    width: 100%;
    position: absolute;
    background-color: gray;
    border: 2px solid green;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}