html{
    background-image: url(SfondoMain.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

main{
    background-color: rgb(213, 203, 189,0.8);
    margin-left: 10%;
    margin-right: auto;
}

header{
    background-image: url(SfondoHeader.jpg);
    background-size:contain;
    background-repeat:repeat;
    background-position: center;

    /* border: 1px solid green; */
}

img{
    max-width: 50%;
    margin-top: 10px;
    height: auto;
}

#menu{
    text-align: center;
}
#menu li { display: inline; margin-right: 5%; margin-left: 5%;}

footer{
    background-color: gray;
    border: 2px solid green;
}